ejercicios/webservices.xml

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions targetNamespace="http://localhost:8080/axis/Calculadora.jws"
xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/axis/Calculadora.jws" 
xmlns:intf="http://localhost:8080/axis/Calculadora.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:message name="mulRequest">
		<wsdl:part name="x" type="xsd:int"/>
		<wsdl:part name="y" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="restarResponse">
		<wsdl:part name="restarReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="mulResponse">
		<wsdl:part name="mulReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="restarRequest">
		<wsdl:part name="x" type="xsd:int"/>
		<wsdl:part name="y" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="sumarResponse">
		<wsdl:part name="sumarReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="sumarRequest">
		<wsdl:part name="x" type="xsd:int"/>
		<wsdl:part name="y" type="xsd:int"/>
	</wsdl:message>
	<wsdl:portType name="Calculadora">
		<wsdl:operation name="sumar" parameterOrder="x y">
			<wsdl:input message="impl:sumarRequest" name="sumarRequest"/>
			<wsdl:output message="impl:sumarResponse" name="sumarResponse"/>
		</wsdl:operation>
		<wsdl:operation name="restar" parameterOrder="x y">
			<wsdl:input message="impl:restarRequest" name="restarRequest"/>
			<wsdl:output message="impl:restarResponse" name="restarResponse"/>
		</wsdl:operation>
		<wsdl:operation name="mul" parameterOrder="x y">
			<wsdl:input message="impl:mulRequest" name="mulRequest"/>
			<wsdl:output message="impl:mulResponse" name="mulResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculadoraSoapBinding" type="impl:Calculadora">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sumar">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="sumarRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="sumarResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/Calculadora.jws" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="restar">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="restarRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="restarResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/Calculadora.jws" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="mul">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="mulRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="mulResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/Calculadora.jws" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalculadoraService">
		<wsdl:port binding="impl:CalculadoraSoapBinding" name="Calculadora">
			<wsdlsoap:address location="http://localhost:8080/axis/Calculadora.jws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
