topicos/pregrado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	
	<xs:element name="pregrado">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nombre" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pregrados">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pregrado" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
